td,
tr {
  border: 3px solid black;
  height: 75px;
  width: 75px;
}

.j1 {
  background-color: red;
}

.j2 {
  background-color: yellow;
}

caption {
  padding: 50px;
  caption-side: bottom;
  color: black;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 1.5rem;
}

body {
  display: flex;
  justify-content: space-evenly;
  background-color: azure;
  margin-top: 50px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  display: flex;
  margin-top: 10px;
}

label {
  font-family: sans-serif;
  font-size: 1.2rem;
  padding-right: 10px;
}
